@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  margin: 0;
  padding: 10px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  background-color: #2f3542;
}

input.search {
  background-color: #f1f2f6;
  border-radius: 3px;
  padding: 5px 10px;
  outline: 1;
  border: none;
}

input.search-button {
  cursor: pointer;
  background-color: #57606f;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
}

input.search-button:hover {
  background-color: #a4b0be;
}

input.search-button,
input.search-button:hover {
  transition: 100ms;
}
